select {
	line-height:10px;
	 
}

option {
	line-height:10px;
 
}

input {
	font-family:arial,sans-serif;
	font-size:13px; 
}

body
{
	font-family:arial,sans-serif;
	font-size:13px; 
	background:#EEEEEE;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
}


.authorBlurb {
	font-size:10px;
	display:inline-block;
	margin-bottom:-10px
}

a:link {
	color:#1C77AC;
	text-decoration:none;

}
a:visited {
	color:#1C77AC

}
a:hover{
	color:#AC771C;

}

.additionalResultField {
	background-color:#999999;
	color: #ffffff;
	border: 2px solid #000000;
	width:400px;
}


button,
input[type=button],
input[type=submit]
{
	border: 2px solid #ffffff;
	margin:3px 20px;
	padding:5px 20px;
	background:#1C77AC;
	color:#ffffff;
	border-radius:4px;
	outline:none;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover
{
	background:#2C85B9;
	border: 2px solid #000000;
}

button:active,
input[type=button]:active,
input[type=submit]:active
{
	transform:translate(0,2px);
}

button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled
{
	opacity:0.25;
}


button.deleteButton,
input[type=button].deleteButton,
input[type=submit].deleteButton
{
	background-color:#ff6666;
	cursor:pointer;

}

button.secondaryButton,
input[type=button].secondaryButton,
input[type=submit].secondaryButton
{
	background:#ffffff !important;
	border: 2px solid #999999;
	color:#333333;
}

button.secondaryButton:hover,
input[type=button].secondaryButton:hover,
input[type=submit].secondaryButton:hover
{
	border: 2px solid #000000;
	color:#000000;
}

button.tertiaryButton,
input[type=button].tertiaryButton,
input[type=submit].tertiaryButton
{
	background:#996699 !important;
	color:#ffffff;
	font-size:10px;
}

button.tertiaryButton:hover,
input[type=button].tertiaryButton:hover,
input[type=submit].tertiaryButton:hover
{
	background:#660066 !important;
	color:#ffffff;
}

.clarification{
	font-size:10px;
	font-style:italic;
	margin-top:-8px;
}

.closeX {
	margin-top:-22px;
	margin-left:-22px;
	padding:0;
	background-color: #ffffff;
	color:#999999;
	border: 2px solid #999999;
	width:10px
}

.closeX:hover {
	color: #000000;
	font-style:italic;
	border:2px solid #000000;
} 

.closeXInside {
	margin-top:0px;
	margin-left:0px;
	padding:0;
	cursor:pointer;
	background-color: #ffffff;
	color:#999999;
	border: 1px solid #999999;
	width:10px
}

.columnList{
	margin-left:20px;
	background-color:'#cccccc';
	border: 1px solid #666666;
	border-radius:5px;
	padding:5px;
}

.tableListItem {
	font-weight:bold;
	margin-top:2px;
}

#complexSelect{
	position:absolute;
	display:none;
	z-index: 200;
	border: 1px solid #1C77AC;
	margin-top:-1px;
}

.complexSelectLabel {
	white-space: nowrap;
	background-color:#ffffff;
	padding:3px;
	border: 1px solid #999999;
}

.complexSelectOption{
	position:relative;
	color:#666666;
	white-space: nowrap;
	border-bottom: 0px solid #dddddd;
	padding-left:5px;
	padding-right:5px;
}
.complexSelectOption:hover{
	border:solid #000000;
	border-width: 1px 0px 1px 0px;
	color:#000000;
	background-color:#1C77AC;
}

#formHistoryOverlay{
	position:absolute;
	background-color:#cccccc;
	opacity: 0.8;
}

#panel2 .closeXInside, #panel3 .closeXInside, #panel4 .closeXInside {
	margin-bottom: -17px;
}

.closeXInside:hover {
	color: #FF0000;
	font-style:italic;
	border:1px solid #000000;
} 


.code {
	line-height:12px;
}

.deleteBox {
	border: 1px solid #000000;
	background-color:#ffffff;
	color:#000000;
	margin-left:-21px;
	margin-top:-9px;
	text-decoration: none;
}

.deprecated {
	color:#999999;
}

.detailsText {
	font-size:10px;
	text-align:right
}

.explanation {
	border:1px solid #999999;
	font-size: 10px;
	padding: 5px;
	background-color:#ffffff;
	margin-bottom: 10px;
}

.exportButton {
	font-size:9px;
	margin-bottom:-1px;
	margin-left:  0px;
	border-width: 1px 1px 0px 1px;
	border-color: #cccccc;
	background-color:#f8f8f8;
	color:#000000;
}

.exportButton:hover {
	background-color:#ffffff;
	border-width: 1px 1px 0px 1px;
	border-color: #cccccc;
	background-color:#ffffff;
	color:#454C51;

}

.forbiddenText {
	color: red;
}

.headerContainer
{
	height:95px;
}

.header
{
	background:#454C51;
	border-bottom:1px solid #FBB71F;
	height:86px;
}

.title
{
	font-size:24px;
	margin-bottom:-3px;
	color: #1C77AC;
	font-weight:normal;
 
	text-shadow: 2px 2px 2px #ffffff;
}

.header .title
{
	color:#ffffff;
	font-size:24px;
	font-weight:normal;
	font-style:italic;
	text-shadow:2px 2px 3px rgba(0,0,0,0.75);
}

.header .menu
{
	font-size:16px;
	font-weight:normal;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background:#1C77AC;
	border-top:1px solid #000000;
	padding-left:20px;
	line-height:25px;
}

.header .menu span
{
	padding:0 20px;
	cursor:pointer;
	color:#ffffff;
	display:inline-block;
}

.header .menu span:hover
{
	background:#2C85B9;
}

.header .menu .selectedTab
{
	background:#F79421;
	padding:5px 30px 2px 30px;
	border:1px solid #FBB71F;
	border-bottom: none;
	color:#ffffff;
	font-weight:bold;
}

.header .menu ul
{
	background:#1C77AC;
	border:1px solid #000000;
	color:#ffffff;
	font-weight:normal;
	position:absolute;
	top:25px;
	left:0px;
	z-index:10;
	display:block;
	padding:0px;
	margin:0px;
}

.header .menu li
{
	list-style: none;
	padding:0px 10px;
	margin:0px;
	display:block;
	white-space:nowrap;
	min-width:100px;
}

.header .menu li:hover
{
	background:#2C85B9;
}

.header .headerMenuButton
{
	display:none;
	background:#1C77AC;
}

.headerLogo
{
	float:right;
	padding-top:8px;
	height:50px;
}

.hidden
{
	display:none !important;
}

#lightboxContainer
{
	background:rgba(0,0,0,0.5);
	position:absolute;
	overflow:hidden;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:255;
}

#lightboxContentMidBox {
	background:#ffffff;
 
	position:relative;
	display:inline-block;
	max-height:100%;
	max-width:100%;
	min-height:300px;
}

#lightboxContent
{
	background:#ffffff;
	padding:20px;
	position:relative;
	display:inline-block;
	max-height:400px;
	max-width:calc(100%);
	min-height:300px;
	overflow:auto;
}

.multipartsourcecode
{
	font-size:11px;
}

.headerFrame
{
	background:#F79421;
	height:3px;
	border-bottom:1px solid #BE8B18;
}
#panelContainer
{
	position:relative;
	vertical-align: top;
}
#panel1,#panel2,#panel3,#panel4
{
	height:100%;
	overflow:auto;
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	position:relative;
	background:#EEEEEE;
}
#panel2,#panel3,#panel4
{
	border-left:1px solid #cccccc;
}
#panelContainer.zero-up #panel1,
#panelContainer.one-up #panel1
{
	width:100%;
}
#panelContainer.zero-up #panel2,
#panelContainer.one-up #panel2
{
	display:none;
}
#panelContainer.zero-up #panel3,
#panelContainer.one-up #panel3
{
	display:none;
}
#panelContainer.zero-up #panel4,
#panelContainer.one-up #panel4
{
	display:none;
}
#panelContainer.two-up #panel3
{
	display:none;
}
#panelContainer.two-up #panel4
{
	display:none;
}
#panelContainer.three-up #panel4
{
	display:none;
}



#loading1,#loading2,#loading3,#loading4
{
	padding-top:20px;
}
#panelContainer .contentContainer
{
	margin:0px 0px 0px 0px;
	padding:0px 0px 20px 20px;
}
 
#panelContainer .title
{
	padding:0px 20px 10px 0px;
	font-size:18px;
	font-weight:bold;
	margin:0;
}

.popupContent{
	margin:auto;
}

.infoBox
{
	background:#ffffff;
	border:1px solid #cccccc;
	padding:10px;
	max-width:259px;
	margin-bottom:10px;
	box-sizing:border-box;
	word-wrap:break-word;
}
.infoBox h2
{
	font-size:inherit;
	font-weight:bold;
	margin:0 0 10px 0;
}
.infoBox ul
{
	padding-left:20px;
}
.contentContainer hr
{
	margin:10px 0;
	padding:0;
	height:0px;
	border:none;
	border-top:1px solid #cccccc;
}
.infoBox hr,.resultsTable hr
{
	margin:1em 0;
	padding:0;
	height:0px;
	border:none;
	border-top:1px solid #cccccc;
}
.infoGroup
{
	width:242px;
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
}
.textCenter
{
	text-align:center;
}
.textLeft
{
	text-align:left;
}
.textRight
{
	text-align:right;
}
.doNotMail
{
	color:#808080;
}
.
.doNotMail0
{
	color:#000000;
}
.doNotMail1
{
	color:#cccccc;
}
.doNotMail2
{
	color:#808080;
}
.doNotMail3
{
	color:#666666;
}
.doNotMail4
{
	color:#333333;
}
.doNotMail:before
{
	color:#000000;
	content:'Mail restrictions apply';
	padding-left:20px;
	background:url(icon-x.png) top left no-repeat;
	display:block;
}
.doNotMail1:before
{
	color:#000000;
	content:'No mail at all';
	padding-left:20px;
	background:url(icon-x.png) top left no-repeat;
	display:block;
}
.doNotMail2:before
{
	color:#000000;
	content:'No solicitations';
	padding-left:20px;
	background:url(icon-x.png) top left no-repeat;
	display:block;
}
.doNotMail3:before
{
	color:#000000;
	content:'No solicitations, mag';
	padding-left:20px;
	background:url(icon-x.png) top left no-repeat;
	display:block;
}
.doNotMail4:before
{
	color:#000000;
	content:'Mail only once yearly';
	padding-left:20px;
	background:url(icon-x.png) top left no-repeat;
	display:block;
}
.noGoodAddress
{
	text-decoration:line-through;
}
.doNotEmail a
{

}
/*.doNotEmail:before
{
	content:'Do not email';
	margin-top:3px;
	padding-left:20px;
	background:url(icon-x.png) top left no-repeat;
	display:block;
}*/
.doNotCall a, .doNotCall i
{
	color:#808080;
}
/*.doNotCall:before
{
	content:'Do not call';
	margin-top:3px;
	padding-left:20px;
	background:url(icon-x.png) top left no-repeat;
	display:block;
}*/

.emailPreviewMobile {
	max-width:320px;
	text-align: left;

}
.emailPreviewText {
    font-family: monospace;
    white-space: pre;
    max-width:600px;
    text-align: left;
}

.linkTrackerResultsContainer,
.linkTrackerResult
{
	padding:10px 0;
}
.linkTrackerResultsContainer a,
.linkTrackerResult a
{
	color: -webkit-link;
	cursor:pointer;
	text-decoration: underline;
}
.linkTrackerResultsContainer a
{
	font-size:16px;
	padding:5px 0;
}
.linkTrackerResultsContainer a i
{
	margin-left:10px;
	transform:rotate(90deg);
	-moz-transition: 200ms;
	-o-transition: 200ms;
	-webkit-transition: 200ms;
	transition: 200ms;
}
.linkTrackerResultsContainer .hiddenTable a i
{
	transform: rotate(0deg);
}
.linkTrackerResultsContainer .hiddenTable .resultsTable
{
	display:none;
}
.linkTrackerResultsContainer .resultsTable a
{
	font-size:inherit;
}
.linkTrackerForm .searchButton
{
	margin-left:0;
}

.moveableUnit{

	background:#ffffff;
	border:1px solid #cccccc;
	padding:10px;
	cursor:pointer;
	max-width: 300px;
}

.iconButton,
.readMoreButton
{
	color:#808080;
	font-size:14px;
	cursor:pointer;
	margin:0px 5px;
}
.iconButton:hover,
.readMoreButton:hover
{
	color:#606060;
}
.iconButton:active;

.readMoreButton:active
{
	color:#808080;
}

.overlayWindowOuter {
	display: none;
	border: 1px solid #000000;
	color: #000000;
	background-color:#ffffff;
	position: absolute;
	z-index: 1000;
	right: 0px;
	top: 31px;
	width: 600px;
	height: 400px;
	font-size: 12px;
	line-height: 12px;
	cursor: pointer;
}

.overlayWindow {
	color: #000000; 
	background-color:#ffffff;
	position: relative;
	z-index: 1000;
	right: 0px;
	top: 31px;
	width: 100%;
	height: 100%;
 	overflow: scroll;
	font-size: 12px;
	line-height: 12px;
	margin-top: -30px;
	padding-left:10px;
	cursor: pointer;
	 
}

.overlayWindowContent {
	color: #000000;
	padding-left:10px;
	background-color:#ffffff;
	cursor: pointer;
	right: 0px;
	width: 100%;
	height: 100%;
 
}

.pseudoDropdown {
	position: absolute;
	border: 1px solid #000000;
	background-color: #ffffff;
	cursor: pointer;
	z-index: 20;
}

.readMore
{
	display:none;
}
.readMoreVisible .readMore
{
	display:block !important;
}
.readMoreButton
{
	display:inline;
}
.readMoreButton:before
{
	content:'\f078';
	font-family:FontAwesome;
}
.readMoreVisible .readMoreButton:before
{
	content:'\f077';
}
.floatingIcon
{
	font-size:14px;
	float:right;
	cursor:pointer;
	margin-left:5px;
	margin-right:0px;
	position:relative;
	z-index:1;
}

.preformatted {
	font-family: monospace;
    white-space: pre;
    text-align: left;
}

.reportRecommendation {
	font-size:10px;
	color:black;
}
.resultsTable
{
	display:block;
	border-collapse:collapse;
	border-spacing:0px;
	border:none;
	margin-bottom:10px;
}
.tightResultsTable
{
	display:block;
	border-collapse:collapse;
	border-spacing:0px;
	border:none;
	margin-bottom:0px;
	margin-left: -18px;
	margin-top: 0px;
	font-size: 10px;
}
.tightResultsTable td
{
	padding:3px;
	border:1px solid #cccccc;
	text-align:left;
	vertical-align:top;
}
.tightResultsTable th
{
	padding:3px;
	border:1px solid #cccccc;
	font-weight:bold;
	text-align:left;
	vertical-align:top;
	background:#f8f8f8;
}
.tightResultsTable tr:nth-child(odd)
{
	background:#ffffff;
}
.tightResultsTable tr:nth-child(even)
{
	background:#f8f8f8;
}



.resultsTable td
{
	padding:10px;
	border:1px solid #cccccc;
	text-align:left;
	vertical-align:top;
}
.resultsTable th
{
	padding:10px;
	border:1px solid #cccccc;
	font-weight:bold;
	text-align:left;
	vertical-align:top;
	background:#f8f8f8;
}
.resultsTable tr:nth-child(odd)
{
	background:#ffffff;
}
.resultsTable tr:nth-child(even)
{
	background:#f8f8f8; 
}

.quickButton
{
	display:inline-block;
	font-size:10px;
	color:#808080;
	border:1px solid #dddddd;
	border-radius:4px;
	padding:3px 5px;
	cursor:pointer;
	margin-right:10px;
	background:#ffffff;
}
.quickButton:hover
{
	color:#606060;
}
.selectedRow
{
	background:#FFEEC9 !important;
}

#staging-banner {
	background: red;
	color: white;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
	margin: 0;
	padding: 5px;
	text-align: center;
}

.sortableColumnHeader {
	cursor:pointer;
	color:#1C77AC;
	text-decoration:underline;
}

.poTool_actions {
	font-size:9px;
}

.poTool_tab {
	cursor:pointer;
	color:#000000;

	background-color: #999999;
	padding:5px;

}
.recordsPaginationNav{
	text-align:left;
}

.reportResultActionFormSettings{
	background-color: #cccccc
}

.reportResultLabel {
	font-weight: bold;
	margin-top:10px;
}

.reportAttrib_tab {
	cursor:pointer;
	color:#000000;
	background-color: #999999;
	padding:2px;
}

.tableForm tr:nth-child(odd){
 
}

.tableForm tr:nth-child(even){

}

.contactAttrib_tab {
	cursor:pointer;
	color:#000000;
	background-color: #999999;
	padding:5px;
	margin-top: 5px;
	display: block;
}


.assetForSourceCode
{
	cursor:pointer;
	color:#000000;
	background-color: #ddf0ff;
	padding:5px;

}

.assetForSourceCodeDescripion
{
	font-size:10px

}

.associatedSourceCodeLink
{
	background-color: #ddf0ff;
	padding:5px;
	font-size:10px;
	margin-left:20px;
	width:180px;
}

.reportExplanation {
	font-size:10px;
	width:220px;
	float:left;
	padding:10px;
	border-style:
	solid;border-width:1px;
	border-color:#999999
}

.reportExplanationLabel {
	font-size:10px;
	text-align:right;
	font-weight:bold;
	width:70px;
	float:left;
	padding:10px;
	border-style:
	solid;border-width:1px;
	border-color:#999999
}

.reportExplanation div:nth-child(odd) {
	background:#ffffff;
}
.reportExplanation div:nth-child(even) {
	background:#f8f8f8;
}

.smallListGroup {
	margin-left: 20px;
	width: 320px;
	font-size:11px;
	cursor:pointer;
}

.smallList *:nth-child(odd) {
	background:#ffffff;
	line-height: 15px;
	width: 320px;
	padding: 5px;
}
.smallList *:nth-child(even) {
	background:#f8f8f8;
	line-height: 15px;
	width: 320px;
	padding: 5px;
}

.sourceCodeInSourceCodeEditor {
	font-weight: bold;
	font-size: 14px;
}

.territoryHeader {

	font-weight: bold;
	font-size: 14px;
	font-style: italic;
}

.emailCheckbox {
	font-size:9px;
}

.emailCheckbox {
	margin-left:10px;
	margin-right: 1px;
}

.pageMessage {
	margin: 10px;
	padding: 20px;
	font-weight: bold;
	width: 500px;
	border: 2px solid #999999;
    border-radius: 10px;
}

.noResults {
	margin: 10px;
	padding: 20px;
	font-weight: bold;
	width: 500px;
	border: 2px solid #999999;
    border-radius: 10px;
}

option{
	line-height: 10px;
	min-height: 0px;
	padding: 0px;
}
 
.errorHighlight {
	color:red;
}

.systemNotice {
	padding:5px;
	background:#FFEF9B;
	border:1px solid #a9a9a9;
	font-weight:normal;

}

/*JS query system
*/
#queryPreview .queryQuickButton
{
	color:#999999;
	font-size:0.7em;
	cursor:pointer;
}
#queryPreview .fieldName
{
	color:#999999;
	font-weight:bold;
}
#queryPreview .fieldValue
{
	color:#999999;
}
#queryPreview .fieldParam
{
	color:#999999;
	font-weight:bold;
}
#queryPreview.editMode .fieldName,
#queryPreview.editMode .fieldOperator,
#queryPreview.editMode .fieldValue,
#queryPreview.editMode .fieldParam,
#queryPreview.editMode .fieldParamName
{
	cursor:pointer;
}
/*End JS query system
*/

.reportTextArea {
	width:90%;
	height:400px;
}

.reportTextAreaHelp{
	background-color:#ffffcc;
	width:90%;
	height:480px;
	padding:10px;
	overflow: auto;
}

.reportSettingsPage{
	background-color:#ffffff;
	width:90%;
	padding:10px;
	overflow: auto;
}

.reportPermissionCheckbox {
	margin-left:20px
}

.reportPermissionLine {
	line-height:10px;
}

.reportHistoryDropdown {
	padding: 3px;
	cursor: pointer;
	position: absolute;
	font-size: 10px;
	z-index: 1;
	left: 670px;
	top: 0px;
	font-size: 12px;
	line-height: 12px;
}

.tinybutton {
	font-size:10px;
	background-color:#999999;
	padding:2px; 
}
 
.tinytext{
	font-size:10px;
}

textarea {
	font-family:inherit;
	font-size:inherit;
}

.tooltip {
    position: absolute;
    display: inline-block;
    text-align:left;
    padding: 5px;
    margin: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    width: 200px;
    border: 1px #999999;  
    border-radius: 5px;
    pointer-events: none;
} 

.calendarInfoItem{
	margin-left: 5px;
	border: 1px dotted #999999;  
	margin-bottom: 2px;
}

.viewOptionsBlock {
	display:inline-block;
	vertical-align:top;
	border: 1px solid #999999;
	background-color:#ffffdd;
	padding:3px
}

.viewOptionCaption {
	text-weight:bold
}

.viewOptionLegend {
 text-align:left;
}

.viewOptionLegendItem {
	display:inline-block;
	margin-left:10px;
	padding:5px
}

.viewOptionLegendRectangle {
	display:inline-block;
	width:15px;
	height:15px;
	border:1px solid #666666;
}

.editReportTabBreak {
		display:none;
}

.userFeedback {
	text-align:left;
	border: 1px solid #999999;
	border-radius:5px;
	padding:5px;
	margin-bottom:5px;
}
.userFeedbackHeader {
	text-align:left;
	font-weight:bold;

	margin-bottom:3px;

}

@media only screen and (max-width: 767px)
{
	.reportHistoryDropdown {
		left: 300px;
	}
	.headerContainer
	{
		height:31px;
	}
	.header {
		height:31px;
	}
	.headerLogo
	{
		display:none;
	}
	.header
	{
		height:42px;
	}
	.header .title
	{
		font-size:21px;
	}
	.header .headerMenuButton
	{
		display:block;
		position:absolute;
		left:auto;
		right:0px;
		top:1px;
		border:0px;
		padding:0px;
		bottom:auto;
		width:40px;
		height:40px;
		color:#ffffff;
		text-align:center;
		padding-top:6px;
		box-sizing:border-box;
	}
	.header .headerMenuButton
	{
		font-size:26px;
	}
	.header .menu
	{
		display:none;
		position:absolute;
		left:20px;
		right:0px;
		top:42px;
		border:0px;
		padding:0px;
		bottom:auto;
		z-index:10;
		font-size:16px;
		border:1px solid black;
	}
	.header .menu span
	{
		display:block;
	}
	.header .menu ul
	{
		position:static;
	}
	.authorBlurb {
		display: none;
	}
	.editReportTabBreak {
		display:block;
		height:6px;
	}

}

@media all and (min-width: 768px)
{
	#panelContainer.two-up #panel1
	{
		width:280px;
	}
	#panelContainer.two-up #panel2
	{
		width:calc(100% - 280px);
	}
	#panelContainer.three-up #panel1
	{
		width:280px;
	}
	#panelContainer.three-up #panel2
	{
		width:280px;
	}
	#panelContainer.three-up #panel3
	{
		width:calc(100% - 560px);
	}
	#panelContainer.four-up #panel1
	{
		width:280px;
	}
	#panelContainer.four-up #panel2
	{
		width:280px;
	}
	#panelContainer.four-up #panel3
	{
		width:280px;
	}
	#panelContainer.four-up #panel4
	{
		width:calc(100% - 840px);
	}

}
@media all and (max-width: 767px)
{
	.reportHistoryDropdown {
		left: 300px;
	}
	.headerContainer
	{
		height:31px;
	}
	.header {
		height:31px;
	}
	.headerLogo
	{
		display:none;
	}

	#panel1,#panel2,#panel3,#panel4
	{
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		width:100vw;
	}
	#panel2
	{
		width:calc(100vw - 4px);
	}
	#panel3
	{
		width:calc(100vw - 9px);
	}
	#panel4
	{
		width:calc(100vw - 14px);
	}
	#panelContainer.three-up #panel2 .closeXInside,
	#panelContainer.four-up #panel2 .closeXInside,
	#panelContainer.four-up #panel3 .closeXInside
	{
		display:none;
	}
	.authorBlurb {
		display: none;
	}
	.header .menu
	{
		display:none;
	}
	.header .headerMenuButton
	{
		display:block;
		position:absolute;
		left:auto;
		right:0px;
		top:1px;
		border:0px;
		padding:0px;
		bottom:auto;
		width:40px;
		height:40px;
		color:#ffffff;
		text-align:center;
		padding-top:6px;
		box-sizing:border-box;
	}
	.header .menu
	{
		display:none;
		position:absolute;
		left:20px;
		right:0px;
		top:42px;
		border:0px;
		padding:0px;
		bottom:auto;
		z-index:10;
		font-size:16px;
		border:1px solid black;
	}
	.header .headerMenuButton
	{
		font-size:26px;
	}
	.header .menu span
	{
		display:block;
	}
	.editReportTabBreak {
		display:block;
		height:6px;
	}
 
}
